<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23914527840-carksck7jq8g3bgrpj6ugs0f3b5nb1he.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23914527840-carksck7jq8g3bgrpj6ugs0f3b5nb1he</string>
	<key>API_KEY</key>
	<string>AIzaSyAbW-09tXImbfIG4H2DVleXihaXEMsLMVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>23914527840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.fridgy</string>
	<key>PROJECT_ID</key>
	<string>fridy-8f8e7</string>
	<key>STORAGE_BUCKET</key>
	<string>fridy-8f8e7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23914527840:ios:e3cd28a75a45406447d705</string>
	<key>DATABASE_URL</key>
	<string>https://fridy-8f8e7-default-rtdb.firebaseio.com</string>
</dict>
</plist>